<template>
  <div>
    <h3>Edition de la dépense</h3>
  </div>
</template>

<script>
export default {
  props: {
    expense: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style></style>
