<template>
  <div v-if="expense">
    <p data-testid="nature">{{ expense.nature }}</p>
    <p data-testid="depense">{{ expense.depense }}</p>
  </div>
</template>

<script>
export default {
  props: {
    expense: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style></style>
