<template>
  <div>
    <h3>Cloturer la dépense</h3>
    <p>
      En cliquant sur le bouton ci-dessous, la dépense ne sera plus éditable.
    </p>
  </div>
</template>

<script>
export default {
  props: {
    expense: { type: Object, required: true },
  },
};
</script>

<style></style>
