<template>
  <div>
    <template v-if="expenses">
      <expense-list-item
        v-for="expense in expenses"
        :key="expense.id"
        :expense="expense"
      >
        <template v-slot:aGauche>
          {{ expense.nature }}
        </template>
        {{ expense.date }}
        <template #aDroite>
          {{ expense.montant }}
        </template>
      </expense-list-item>
    </template>
    <template v-else>
      <p data-testid="no-expense">Pas de dépense à afficher.</p>
    </template>
  </div>
</template>

<script>
import ExpenseListItem from "./ExpenseListItem.vue";
import expenseRessource from "@/services/ressources/expenses";

export default {
  components: { ExpenseListItem },
  data() {
    return {
      expenses: null,
    };
  },
  async created() {
    try {
      let apiPromise = await expenseRessource.getExpenses();
      this.expenses = apiPromise.data;
    } catch (ex) {
      this.$store.dispatch(
        "changeErrorMessage",
        `Une erreur est survenue: ${ex}`
      );
    }
  },
};
</script>

<style></style>
