<template>
  <router-link
    v-if="expense"
    :to="{ name: 'expense-details-view', params: { id: expense.id } }"
  >
    <slot name="aGauche"></slot>
    <h3>{{ expense.intitule }}</h3>
    <slot name="default"> </slot>
    <slot name="aDroite"></slot>
  </router-link>
</template>

<script>
export default {
  name: "ExpenseListItem",
  props: {
    expense: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style></style>
