<template>
  <div v-if="expense">
    <h2>{{ expense.intitule }}</h2>
    <nav>
      <router-link :to="{ name: 'expense-details' }">Détails</router-link> |
      <router-link :to="{ name: 'expense-edit' }">Editer</router-link> |
      <router-link :to="{ name: 'expense-close' }">Cloturer</router-link>
    </nav>
    <router-view :expense="expense"></router-view>
  </div>
</template>

<script>
import ExpenseService from "@/services/ressources/expenses";

export default {
  props: {
    id: {
      type: [String, Number],
      required: true,
    },
  },
  data() {
    return {
      expense: null,
    };
  },
  async created() {
    try {
      let expProm = await ExpenseService.getExpense(this.id);
      this.expense = expProm.data;
    } catch (ex) {
      this.$store.dispatch(
        "changeErrorMessage",
        "Erreur de récupération de la dépense!"
      );
    }
  },
};
</script>

<style></style>
