<template>
  <div class="home">
    <h1></h1>
    <expense-list></expense-list>
  </div>
</template>

<script>
import ExpenseList from "@/components/expense/ExpenseList.vue";

export default {
  name: "HomeView",
  components: {
    ExpenseList,
  },
};
</script>
