<template>
  <div id="app">
    <alert-bar></alert-bar>
    <app-spinner></app-spinner>
    <nav>
      <router-link :to="{ name: 'home' }">Home</router-link> |
      <router-link :to="{ name: 'about' }">About</router-link>
    </nav>
    <router-view />
  </div>
</template>
<script>
import AlertBar from "./components/utils/AlertBar.vue";
import AppSpinner from "./components/utils/AppSpinner.vue";
export default {
  components: { AlertBar, AppSpinner },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
