<template>
  <div v-if="$store.state.errorMessage">
    {{ $store.state.errorMessage }}
  </div>
</template>

<script>
export default {
  // Affiche un message d'erreur et le fait
  // disparaître après 3 secondes.

  mounted() {
    setTimeout(this.hide, 3000);
  },
  methods: {
    hide() {
      this.$store.dispatch("changeErrorMessage", "");
    },
  },
};
</script>

<style scoped>
div {
  background: #faa;
  position: absolute;
  top: 0;
  padding-top: 0.5em;
}
</style>
