<template>
  <div v-if="$store.state.loading">
    <p>Chargement en cours...</p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
div {
  position: relative;
  vertical-align: middle;
  text-align: center;
  background: rgba(200, 200, 210, 0.8);
  font-size: 2.5em;
  top: -10px;
  left: -10px;
  width: 100%;
}
</style>
